<div class="container">
  <div>
    <input type="text" #newname />
  </div>
  <p>Name is {{ name }}</p>
  <div>
    <button class="btn btn-primary" (click)="updateName(newname.value)">
      Update Name
    </button>
  </div>
  <div>
    {{ 10 + 5 | percent }}
  </div>
  <div>
    {{ name | lowercase }}
  </div>
  <div>
    {{ currentDate | date : "short" }}
  </div>
  <img src="{{ imageURL }}" alt="" />
  <p [class.red]="isRed" [class.blue]="isBlue">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus aliquid
    dignissimos veritatis molestias quidem, esse eum perferendis consequuntur
    doloremque impedit totam deleniti atque ad nulla quas error, debitis minima
    sequi!
  </p>
  <div>
    <button class="btn btn-primary" (click)="change2Blue()">Change2Blue</button>
    <button class="btn btn-primary" (click)="change2Red()">Change2Red</button>
  </div>
  <div>
    <p [style.color]="isColor ? 'red' : 'blue'">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sit,
      suscipit sed nisi voluptatem eius animi odit, quibusdam alias saepe atque
      voluptate quas magnam eaque quod molestias laboriosam quo labore.
    </p>
    <button class="btn btn-primary">Change Color</button>
  </div>
</div>
